// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_add{
    background: #f0f0f5;
}

#admin_textbox{
    background:#f3f7f3;
    box-shadow: 6px 6px grey;
    border-width: 3px;

}