// Place all the styles related to the assignment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbotron {
    background-color: #EEE2DC; 
    border-style: solid;
    border-width: 6px;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-family: 'PT Sans Caption', sans-serif;

}

.assignment_box {
    border-style: solid;
    border-width: 3px;
    background-color:#f4f4f4;
    border-radius: 8px;
    margin-top: 20px;
}

.admin_parents_box {
    border-style: solid;
    border-width: 3px;
    background-color: white;
    border-radius: 8px;
    margin-top: 5px;
}


p {
    margin-top: 10px;
    margin-left: 10px;
}

#title{
    color: red;
}


