// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.linechart_path {
  stroke-width: 3;
  fill: none;
}

.linechart_axis {
  stroke: black;
  stroke-width: 10px;
}

.linechart_point {
  fill: #fff;
  stroke-width: 2;
}

#linechart{
  width: 1000px;
  height:500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  background-color: lightblue
}
.popup {
  min-height: 50px;
}

.graph-container {
 display: flex;
 
}

.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  width: fit-content;
}
.popup {
  min-height: 50px;
  margin-top: 30px;
}
.hover .price {
  font-weight: 700;
}


.y_label_container {
  margin-top: 17px;
  color: darkgreen;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}