// Place all the styles related to the parent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tab {
    border-color: black;
    border-style: solid;
    border-width: 3.5px;
    font-size: 18px;
    font-weight: bold;
}


#main_nav {
    background-color: #98a4ac;
}


#main_nav_logo {
    margin-left: 1em;
}


#new_enroll_jumbotron {
    background-color:orange;
    border-style: solid;
    border-width: 5px;
    font-family: 'Puritan', sans-serif;
}

.test {
    background-color: orange;
    
}



#tab_admin {
    border-color: black;
    border-style: solid;
    border-width: 3.5px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}


#admin_tabs{
    background-color: #98a4ac;
    border-color: black;
    border-width: 4px;
    border-bottom-style: solid;
}


#chart_title{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
}

#admin_parents_students {
    font-weight: bold;
    margin-top: 8px;
    margin-left: 40px;
    font-size: 25px;
}

#teacher_assignment_status {
    margin-top: 10px;
    margin-left: 20px;
}