// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher_image {
	height: 15%;
	width: 15%;
	border-radius: 70px;
}

#InputStatus {
	width: 20%;
}

#InputScore {
	width: 20%;
}

#InputFeedback {
	width: 20%;
}



#text_container h3 {
	display: inline;
	margin-left: 30px;
}


#text_teacher_reviews {
	color: #6d7993;
}



#tab_fonts_size{
	color: greenyellow;
}


#test1{
	font-size: 30px;
}

#test2{
	margin-left: 20px;
	}

.test2{
		margin-left: 20px;
		font-style: italic;
		font-size: 30px;
		font-weight: bold;
		}


#teacher_profile{
	background: white;

}