// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher_image {
	height: 15%;
	width: 15%;
	border-radius: 70px;
}