// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher_image {
	height: 15%;
	width: 15%;
	border-radius: 70px;
}

#InputStatus {
	width: 20%;
}

#InputScore {
	width: 20%;
}

#InputFeedback {
	width: 20%;
}

#admin_tabs{
    background-color: #A9B7C0;
    border-color: black;
    border-width: 4px;
    border-bottom-style: solid;
}


#text_container h3 {
	display: inline;
	margin-left: 30px;
}


#text_teacher_reviews {
    color: #6d7993;
}
